#content{
	background: #fff;
	position: relative;
}
#jobsFeedList{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.angular-google-map-container { 
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 10px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	height: 1200px; 
}
#mapView{
	width:55%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 50px;
	z-index: 1;
	background:#F0F0F5;
}
#mapCanvas {
	height: 100%;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#jobsFormDiv{
    width:40%;
	height: 100%;
	position: relative;
	right: 0;
}

.span:hover{
	background-color: yellow;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}