<?xml version="1.0" encoding="UTF-8"?>

<div id ="jobsFeedDiv" align="left" ng-controller="JobsController" class="success" id="jobsList">
    <legend>Jobs feed</legend>
    <div id ="filterJobsDiv">
    <input ng-model="searchText" type="text" class="form-control" placeholder="Filter Jobs">
    </div>
    <!-- If there are no jobs available, instead of showing the table, we show a simple message. -->
    <!-- <em ng-show="jobs.length == 0">No Jobs Found.</em> -->
    <div id ="jobsFeedList">
        <ol>
        <li id="liJobsDiv" ng-hide="jobs.length == 0" ng-repeat="job in jobs | orderBy:orderBy | filter:searchText">

  			<p class="success"><strong>Job Title:</strong> <p class="text-left">{{job.title}}</p></p>

  			<p><strong>Description:</strong> <p class="text-left">{{job.description}}</p></p>
  	
  			<p><strong>Location:</strong> <p class="text-left">{{job.location}}</p></p>
  		
  			<p><strong>Price:</strong> <p class="text-left">{{job.price}}</p></p>
		</li>
		</ol>
    </div>
    <div id="mapView">
	    <div id="mapCanvas">
				<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
		</div>
	</div>
</div>