<?xml version="1.0" encoding="UTF-8"?>

<div align="left">
    <legend>Jobs feed</legend>
    <!-- If there are no jobs available, instead of showing the table, we show a simple message. -->
    <!-- <em ng-show="jobs.length == 0">No Jobs Found.</em> -->
    <div ng-controller="JobsController" class="success" id="jobsList">
        <ol>
        <li id="liJobsDiv" ng-hide="jobs.length == 0" ng-repeat="job in jobs | orderBy:orderBy">

  			<p class="success"><strong>Job Title:</strong> <p class="text-left">{{job.title}}</p></p>

  			<p><strong>Description:</strong> <p class="text-left">{{job.description}}</p></p>
  	
  			<p><strong>Location:</strong> <p class="text-left">{{job.location}}</p></p>
  		
  			<p><strong>Price:</strong> <p class="text-left">{{job.price}}</p></p>
		</li>
		</ol>
    </div>
</div>
