<?xml version="1.0" encoding="UTF-8"?>

<div id ="jobsFeedDiv" align="left" ng-controller="ViewJobsController" class="success" id="jobsList">
    <div id ="jobsFeedList">	
		<md-content>
		<input ng-model="searchText" type="text" class="form-control" placeholder="Filter Jobs">
	    <md-list>
	      <md-item id="liJobsDiv" ng-hide="jobs.length == 0" ng-repeat="job in jobs | orderBy:orderBy | filter:searchText">
	        <div class="card-panel blue lighten-2" layout="row" layout-wrap>
  				<p class="white-text">Job Title: {{job.title}}</p>
			</div>
	        <md-item-content>
	        <div class="md-tile-right">
	              <img class="responsive-img" ng-src="images/broken.jpg" height="200" width="150">
	          </div>
	         <div class="md-tile-content">
	            <span>Description:</span> <span>{{job.description}}</span><br>	
	  			<span>Location:</span> <span>{{job.location}}</span><br>  		
	  			<span>Price:</span> <span>{{job.price}}</span><br>
	          </div>
	        </md-item-content>
	      </md-item>
	    </md-list>
	  </md-content>
	  
    </div>
    <div id="mapView">
	    <div id="mapCanvas" ng-controller="JobsFeedMapController">
				<ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true">
<!--         <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker> -->
        <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
		</div>
	</div>
</div>