<?xml version="1.0" encoding="UTF-8"?>

<div align="center" ng-controller="CreateJobsController" >
    <form name="createJobForm" class="form-horizontal" ng-model="job"ng-submit="createJob()">
        <fieldset>

        <legend>Place an Advert</legend>
                    
            Job Title: <input type="text" name="jobTitle" ng-model="job.title"><br>
            Job Description: <input type="text" name="jobDesc" ng-model="job.description"><br>
            Location: <input type="text" name="jobLocation" ng-model="job.location"><br>
            Price: <input type="number" name="jobPrice" ng-model="job.price">
            <input type="submit" value="Create Job">
        
        </form>
       
</div>
