<?xml version="1.0" encoding="UTF-8"?>

<div class="job-header" align="center" ng-controller="CreateJobsController" layout="row">
  <div flex="20">
  </div>
    <div flex ="60">
	<md-content layout-padding class="autoScroll"> 

	<md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Create Job</h2>
    </div>
  </md-toolbar>
	<form name="createJobForm" class="col s12" ng-model="job"
		ng-submit="createJob()">
		<md-input-container>
			<label for="jobTitle">Job Title</label>
			<input id="jobTitle" type="text" name="jobName" class="validate" ng-model="job.title" minlength="8">
			<div ng-messages="createJobForm.jobName.$error">
				<div ng-message="minlength">Job Title must be at least 8 characters in length</div>
			</div>
		</md-input-container>
		<md-input-container>
			<input id="jobDesc" name="jobDesc" type="text" class="validate" ng-model="job.description" minlength="30">
			<label for="jobDesc">Description</label>
			<div ng-messages="createJobForm.jobDesc.$error">
				<div ng-message="minlength">Job Description must be at least 30 characters in length</div>
			</div>
		</md-input-container>
        <span layout="row">
            <div flex="90">
                <md-input-container>
                    <input id="jobLocation" name="jobLocation" type="text" class="validate" ng-model="job.location" minlength="3">
                    <label for="jobLocation">Job Location</label>
                    <div ng-messages="createJobForm.jobLocation.$error">
                        <div ng-message="minlength">Job Location must be at least 3 characters in length</div>
                    </div>
                </md-input-container>
            </div>
            <div flex>
                <md-button class="md-icon-button" type="button" ng-click="getLocation()" aria-label="Retrieve Location">
                    <md-tooltip>
                        Get Location
                    </md-tooltip>
                    <ng-md-icon icon="{{locationIcon}}" style="fill: grey" options='{"duration": 375, "rotation": "none"}'></ng-md-icon>
                </md-button>
            </div>
        </span>
		<md-input-container>
			<input id="jobPrice" type="number" class="validate"
				ng-model="job.price"><label for="jobPrice">Job Price</label>
		</md-input-container>
		<section layout="row" layout-sm="column" layout-align="center center">
			<md-button type="submit" class="md-primary md-raised md-hue-2"
				ng-disabled="createJobForm.$invalid">Create Job</md-button>
		</section>
	</form>
	</md-content>
  </div>
    <div flex="20" hide-sm>
    </div>
</div>



