<?xml version="1.0" encoding="UTF-8"?>

<div class="profile-header"  align="center" layout="row" ng-controller="ProfilePageController" ng-model="user">
    <div flex="20">
    </div>
    <div flex ="60">
    <md-toolbar class="md-accent" layout="row" layout-align="space-between center">
        <span layout-padding><h2>Profile Information</h2></span>
        <span layout-padding><img ng-src="{{user.pictureUrl}}" class="img-circle" width="45"/></span>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3 id="name">Name: {{user.displayName}}</h3>
                    <h3 id="email">Email: {{user.email}}</h3>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
    </div>
    <div flex="20" hide-sm>
    </div>
</div>