<?xml version="1.0" encoding="UTF-8"?>
<div ng-controller="RegisterUserController">
     <form name="regForm" class="form-horizontal" ng-submit="register()">
        <fieldset>
            <legend>Register an account</legend>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" name="email" id="email" ng-model="newUser.email" placeholder="Your Email" required />
                    <span class="error help-block" ng-show="regForm.email.$error.required">required</span>
                    <span class="error help-block" ng-show="regForm.email.$error.email">not a valid email</span>
                    <span class="error help-block" ng-show="errors.email">{{errors.email}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" name="password" id="password" ng-model="newUser.password" placeholder="Your Password" required />
                    <span class="error help-block" ng-show="regForm.password.$error.required">required</span>
                    <span class="error help-block" ng-show="errors.password">{{errors.password}}</span>
                </div>
            </div>
            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{message}}</li>
            </ul>
            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{message}}</li>
            </ul>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" ng-disabled="regForm.$invalid" id="register" value="Register" class="btn btn-primary" />
                    <input type="button" ng-click="reset()" name="cancel" id="cancel" value="Cancel" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </form>
    <h2>For test purposes only to show the users created in the database</h2>
    <em ng-show="users.length == 0">No registered users.</em>
    <div class="table-responsive">
        <table ng-hide="users.length == 0" class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
           <tr ng-repeat="user in users | orderBy:orderBy">
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                </td>
        </table>
    </div>
    <div>
        REST URL for all users: <a href="rest/members">/rest/members</a>
    </div>
    <div>
        <input type="button" ng-click="refresh()" name="refresh"
            id="refresh" value="Refresh" class="btn btn-default" />
    </div>
</div>
