<!DOCTYPE html>
<html lang="en" ng-app="myAppModule">
<head>
    <title>Bish Bash Bosh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Disable phone number detection on iOS.  -->
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/screen.css" type="text/css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link rel="stylesheet" href="css/landing-page.css" type="text/css" />
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <script src="js/libs/jquery-2.0.3.js"></script>
    <script src="js/libs/bootstrap.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-password/angular-password.js"></script>

    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
   	<script src="bower_components/ngstorage/ngStorage.min.js"></script>
   	<script src="bower_components/satellizer/satellizer.min.js"></script> 
    
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script> 
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>  
    
    <script src="js/app.js"></script>
    
    <script src="js/controllers/jobs_controller.js"></script>
    <script src="js/controllers/jobsfeedmap_controller.js"></script>
    <script src="js/controllers/login_and_signup_controller.js"></script>
    <script src="js/controllers/profile_page_controller.js"></script>
    <script src="js/controllers/navbar_controller.js"></script>
    
    <script src="js/services/services.js"></script>
</head>
<body>
    <!--  For reference until Selenium is fixed - <div ng-controller="NavbarController" class="md-hue-2" ng-model="user">
    code to hide navbar is below, when sellenium is working with this, remove the shorter div below
    <div ng-if="isAuthenticated()" class="navbar-fixed">
    <div class="navbar-fixed">
    	<nav>
    	<div class="nav-wrapper">
		      <a href="#landingpage" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		      <a href="#landingpage" class="brand-logo center tooltipped" data-delay="50" data-tooltip="Bish Bash Bosh"><i class = "mdi-editor-format-bold"></i><i class = "mdi-editor-format-bold"></i><i class = "mdi-editor-format-bold"></i></a>
		      <ul class="right hide-on-med-and-down">
		      	<li><a href="#add" class="tooltipped" data-delay="50" data-tooltip="Create a Job"><i class = "mdi-content-add-circle-outline"></i></a></li>
		        <li><a href="#jobsFeed" class="tooltipped" data-delay="50" data-tooltip="View Jobs"><i class = "mdi-maps-pin-drop"></i></a></li>
		        <li><a href="#profile" class="tooltipped" data-delay="50" data-tooltip="View Profile"><i class = "mdi-action-account-circle"></i></a></li>
				<li><a href="#landingpage" class="tooltipped" data-delay="50" data-tooltip="Home"><i class = "mdi-action-home"></i></a></li>
				<li>
			      	<a ng-if="isAuthenticated()" class="tooltipped" data-delay="50" data-tooltip="Sign Out" ng-click="signOut()"><i class = "mdi-action-exit-to-app"></i></a>
				</li>	       
		      </ul>
	          <ul class="side-nav" id="mobile-demo">
		        <li><a href="#add" class="tooltipped" data-delay="50" data-tooltip="Create a Job"><i class = "mdi-content-add-circle-outline"></i></a></li>
		        <li><a href="#jobsFeed" class="tooltipped" data-delay="150" data-tooltip="View Jobs"><i class = "mdi-maps-pin-drop"></i></a></li>
		        <li><a href="#profile" class="tooltipped" data-delay="150" data-tooltip="View Profile"><i class = "mdi-action-account-circle"></i></a></li>
				<li><a href="#landingpage" class="tooltipped" data-delay="50" data-tooltip="Home"><i class = "mdi-action-home"></i></a></li>	       
		      </ul>
		      
		</div>
		</nav>
	</div>
	</div> -->
	 <md-toolbar md-scroll-shrink aria-label="Toolbar" ng-controller="NavbarController" layout="row" layout-align="space-between center" ng-model="user">
    
	      <span> 
	      	<h2 class="md-toolbar-tools"> BBB </h2>	
	      </span>
	      <span>
	        <md-button ng-href="#add" aria-label="Creat Job">
	        	<md-tooltip>
		          Create Job
		        </md-tooltip>
	        	<ng-md-icon icon="add_circle_outline" style="fill: white" size="32"></ng-md-icon>
	        </md-button>
	        <md-button md-no-ink class="md-primary" ng-href="#jobsFeed" aria-label="Jobs Feed">
		        <md-tooltip>
		          Jobs Feed
		        </md-tooltip>
	        	<ng-md-icon icon="pin_drop" style="fill: white" size="24"></ng-md-icon>
	        </md-button>
	        <md-button ng-href="#profile" aria-label="View Profile">
	        	<md-tooltip>
		          View Profile
		        </md-tooltip>
	        	<ng-md-icon icon="person" style="fill: white" size="24"></ng-md-icon>
	        </md-button>
	        <md-button ng-href="#landingpage" aria-label="Home">
	        	<md-tooltip>
		          Home
		        </md-tooltip>
	        	<ng-md-icon icon="home" style="fill: white" size="24"></ng-md-icon>
	        </md-button>
	        <md-button ng-if="isAuthenticated()" ng-click="signOut()" aria-label="Sign Out">
	        	<md-tooltip>
		          Sign Out
		        </md-tooltip>
	        	<ng-md-icon icon="input" style="fill: white" size="24"></ng-md-icon>
	        	</md-button>
	    </span>
  	</md-toolbar>
    <section id="container">
        <div id="content" ng-view>
            [Template content will be inserted here]
        </div>
    </section>
</body>
</html>
