<!DOCTYPE html>
<html lang="en" ng-app="myAppModule">
<head>
    <title>Bish Bash Bosh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Disable phone number detection on iOS.  -->
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/screen.css" type="text/css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link rel="stylesheet" href="css/landing-page.css" type="text/css" />
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <script src="js/libs/jquery-2.0.3.js"></script>
    <script src="js/libs/bootstrap.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>

    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
   	<script src="bower_components/ngstorage/ngStorage.min.js"></script>
    
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script> 
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="bower_components/satellizer/satellizer.min.js"></script>
    
    <script src="js/app.js"></script>
    
    <script src="js/controllers/jobs_controller.js"></script>
    <script src="js/controllers/jobsfeedmap_controller.js"></script>
    <script src="js/controllers/oauth_login_controller.js"></script>
    <script src="js/controllers/profile_page_controller.js"></script>
    <script src="js/controllers/navbar_controller.js"></script>
    
    <script src="js/services/services.js"></script>
</head>
<body>
    <div ng-controller="NavbarController">
    <!-- code to hide navbar is below, when sellenium is working with this, remove the shorter div below
    <div ng-if="isAuthenticated()" class="navbar-fixed"> -->
    <div class="navbar-fixed">
    	<nav>
    	<div class="nav-wrapper">
		      <a href="#landingpage" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		      <a href="#landingpage" class="brand-logo center tooltipped" data-delay="50" data-tooltip="Bish Bash Bosh"><i class = "mdi-editor-format-bold"></i><i class = "mdi-editor-format-bold"></i><i class = "mdi-editor-format-bold"></i></a>
		      <ul class="right hide-on-med-and-down">
		      	<li><a href="#add" class="tooltipped" data-delay="50" data-tooltip="Create a Job"><i class = "mdi-content-add-circle-outline"></i></a></li>
		        <li><a href="#jobsFeed" class="tooltipped" data-delay="50" data-tooltip="View Jobs"><i class = "mdi-maps-pin-drop"></i></a></li>
		        <li><a href="#profile" class="tooltipped" data-delay="50" data-tooltip="View Profile"><i class = "mdi-action-account-circle"></i></a></li>
				<li><a href="#landingpage" class="tooltipped" data-delay="50" data-tooltip="Home"><i class = "mdi-action-home"></i></a></li>
				<li>
			      	<a ng-if="isAuthenticated()" class="tooltipped" data-delay="50" data-tooltip="Sign Out" ng-click="signOut()"><i class = "mdi-action-exit-to-app"></i></a>
				</li>	       
		      </ul>
	          <ul class="side-nav" id="mobile-demo">
		        <li><a href="#add" class="tooltipped" data-delay="50" data-tooltip="Create a Job"><i class = "mdi-content-add-circle-outline"></i></a></li>
		        <li><a href="#jobsFeed" class="tooltipped" data-delay="150" data-tooltip="View Jobs"><i class = "mdi-maps-pin-drop"></i></a></li>
		        <li><a href="#profile" class="tooltipped" data-delay="150" data-tooltip="View Profile"><i class = "mdi-action-account-circle"></i></a></li>
				<li><a href="#landingpage" class="tooltipped" data-delay="50" data-tooltip="Home"><i class = "mdi-action-home"></i></a></li>	       
		      </ul>
		      
		</div>
		</nav>
	</div>
	</div>
    <section id="container">
        <div id="content" ng-view>
            [Template content will be inserted here]
        </div>
    </section>
</body>
</html>
